*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 2rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: goldenrod;
}

.calculator {
  display: flex;
  flex-direction: column;
  border: solid;
  border-style: ridge;
  border-width: 1rem;
  border-color: aquamarine;
}

.result-screen {
  width: 100%;
  padding: 1rem;
  background-color: lightgray;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: rgb(209, 73, 73);
}

.number-container {
  grid-area: 1 / 1 / 5 / 4;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.1rem;
}

.operator-container {
  grid-area: 1 / 4 / 5 / 5;
  padding: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.helper-operation {
  font-weight: bold;
  width: 32%;
  color: brown;
  background-color: wheat;
}

.operator-item {
  font-weight: bold;
  width: 100%;
  color: orange;
  background-color: rgb(67, 139, 0);
  border-style: ridge;
  border-width: .1rem;
  border-color: black;
}

.number-item {
  font-weight: bold;
  width: 32%;
  color: wheat;
  background-color: brown;
  border-style: ridge;
  border-width: .1rem;
  border-color: black;
}
